// ######################################## //
// ## LINKS&BUTTONS.SCSS ## //
// ######################################## //

button{
	border-radius: 5px;
	cursor: pointer;
	padding: 8px 19px;
	border-width: 0rem;
	font-size: 12px;
}

a{
	
	a:hover{
	 	text-decoration: none;
	 }
}
