// ####################################### //
// ## COLORS.SCSS ## //
// ####################################### //


$black: #003945;
$grey: #8d8f9a;
$white: #fff;
$yellow: #ffbb3b;
$purple: #513753;
$red: #f15a57;
$light-grey: #ebecf1;

// Blue Shades
$blue-1: #f3f4fa;
$blue-2: #17a9c8;
$blue-3: #333;
$blue-4: #474b5c;
$blue-5: #2a394c;

// Green Shades
$green-1: #edf9f7;
$green-2: #a5f7ed;
$green-3: #16ccbb;


